ws:
  title: 'nim - 起航'
  host: 0.0.0.0
  port: 8081
app:
  greeting: 'Welcome.'
ar:
  adapter: mysql2
  host: 127.0.0.1
  username: root
  password: q
  database: nim
redis:
  host: 192.168.3.220
  port: 6379
  password: jredis123456
